<div class="post-card">
  <div class="post-header">
    <img [src]="post.imageUrl" alt="Foto de perfil" class="profile-img" />
    <div class="user-info">
      <span class="user-name">Esteban</span>
      <span class="user-location">CABA</span>
    </div>
  </div>

  <!-- Placeholder con fondo gris y efecto blur -->
  <div *ngIf="!imageLoaded" class="post-image-placeholder"></div>

  <!-- Imagen real, se muestra cuando se carga completamente -->
  <img
    [src]="post.imageUrl"
    alt="Imagen del post"
    class="post-image"
    (load)="imageLoaded = true"
    [class.loaded]="imageLoaded"
  />

  <div class="post-content">
    <div>{{ post.title }}</div>
    <div class="post-content-description">{{ post.description }}</div>
    <div>
      <strong> {{ post.price | currency }}</strong>
    </div>
  </div>
  <div *ngIf="use !== 'home'" class="post-actions">
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onEdit(post.id)"
    >
      Editar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onToggleActive(post.id, post.isActive)"
    >
      {{ post.isActive ? "Desactivar" : "Activar" }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onDelete(post.id)"
    >
      Eliminar
    </button>
  </div>
  <button
    *ngIf="use === 'home'"
    mat-raised-button
    color="primary"
    class="action-button send-message-button"
    (click)="onChat(post.userId)"
  >
    Enviar mensaje
  </button>
</div>
