<div class="post-card">
  <div class="post-header">
    <img
      [src]="post.authorPhoto || 'assets/images/user-placeholder.png'"
      alt="Foto de perfil"
      class="profile-img"
    />
    <div class="user-info">
      <span class="user-name">{{ post.authorName }}</span>
      <span class="user-location">{{
        post.authorProvince
          ? post.authorProvince + ", " + post.authorCity
          : "Ubicación no disponible"
      }}</span>
    </div>
  </div>

  <div class="image-container">
    <div class="post-image-placeholder" *ngIf="!imageLoaded"></div>

    <img
      [src]="post.imageUrl"
      alt="Imagen del post"
      class="post-image"
      (load)="imageLoaded = true"
      [class.loaded]="imageLoaded"
    />
  </div>

  <div class="post-content">
    <div>{{ post.title }}</div>
    <div class="post-content-description">{{ post.description }}</div>
    <div>
      <strong> {{ post.price | currency }}</strong>
    </div>
  </div>
  <div
    *ngIf="use == 'active-post' || use == 'inactive-post'"
    class="post-actions"
  >
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onEdit(post.id)"
    >
      Editar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onToggleActive(post.id, post.isActive)"
    >
      {{ post.isActive ? "Desactivar" : "Activar" }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action-button"
      (click)="onDelete(post.id)"
    >
      Eliminar
    </button>
  </div>
  <button
    *ngIf="use === 'home' || use === 'search-results'"
    mat-raised-button
    color="primary"
    class="action-button send-message-button"
    (click)="onChat(post.userId)"
  >
    Enviar mensaje
  </button>
</div>
