<div class="post-card">
  <div class="post-header">
    <img
      [src]="post.authorPhoto || 'assets/images/user-placeholder.png'"
      alt="Foto de perfil"
      class="profile-img"
    />
    <div class="user-info">
      <span class="user-name">{{ post.authorName }}</span>
      <span class="user-location">{{
        post.authorProvince
          ? post.authorProvince + ", " + post.authorCity
          : "Ubicación no disponible"
      }}</span>

      <div class="user-rating" *ngIf="totalReviews > 0 && (use === 'home' || use === 'search-results')">
        <div class="app-star-rating sm">
          <ng-container *ngFor="let star of getStarsArray()">
            <mat-icon *ngIf="star <= averageRating" class="filled"
              >star</mat-icon
            >

            <div
              class="half-star-container"
              *ngIf="star > averageRating && star - 1 < averageRating"
            >
              <mat-icon class="star-background">star</mat-icon>
              <mat-icon class="star-foreground">star</mat-icon>
            </div>

            <mat-icon *ngIf="star > averageRating && star - 1 >= averageRating"
              >star_border</mat-icon
            >
          </ng-container>
        </div>
        <span class="rating-number">{{ averageRating | number: "1.1-1" }}</span>
        <span class="reviews-link" (click)="onSeeReviews()"
          >Ver opiniones ({{ totalReviews }})</span
        >
      </div>

      <div class="user-rating no-rating" *ngIf="totalReviews === 0">
        <span class="new-user-badge">Nuevo</span>
        <span class="reviews-link" (click)="onSeeReviews()"
          >Sin calificaciones</span
        >
      </div>
    </div>
  </div>

  <div class="image-container">
    <div class="post-image-placeholder" *ngIf="!imageLoaded"></div>

    <img
      [src]="post.imageUrl"
      alt="Imagen del post"
      class="post-image"
      (load)="imageLoaded = true"
      [class.loaded]="imageLoaded"
    />
  </div>

  <div class="post-content">
    <div>{{ post.title }}</div>
    <div class="post-content-description">{{ post.description }}</div>
    <div>
      <strong> {{ post.price | currency }}</strong>
    </div>
  </div>

  <div
    *ngIf="use == 'active-post' || use == 'inactive-post'"
    class="post-actions"
  >
    <button
      *ngIf="use === 'active-post'"
      mat-raised-button
      class="mark-sold-btn"
      (click)="onMarkAsSold(post)"
    >
      Marcar como vendido
    </button>

    <div class="secondary-actions">
      <button mat-button color="primary" (click)="onEdit(post.id)">
        Editar
      </button>
      <button
        mat-button
        color="primary"
        (click)="onToggleActive(post.id, post.isActive)"
      >
        {{ post.isActive ? "Desactivar" : "Activar" }}
      </button>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Eliminar
      </button>
    </div>
  </div>

  <button
    *ngIf="use === 'home' || use === 'search-results'"
    mat-raised-button
    color="primary"
    class="action-button send-message-button"
    (click)="onChat(post.userId)"
  >
    Enviar mensaje
  </button>
</div>
