.loading {
  z-index: 1000;
  display: block;
}
.circular-container {
  .content {
    padding-bottom: 80px;
  }
  @media (min-width: 600px) {
    /* Estilos para pantallas más grandes (tabletas y escritorios) */
    display: flex;
    min-height: 100%;

    .content {
      width: 100%;
    }
    .content-full {
      width: 100%;
    }
    .content {
      padding-bottom: 0;
    }
  }
}
