<div *ngIf="!isLoading" class="reset-container container">
  <img
    class="logo"
    src="assets/images/logo.png"
    alt="Logo de la empresa"
    height="180px"
  />
  <h1>Restablecer contraseña</h1>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
    <!-- Campo de Email -->
    <mat-form-field class="full-width">
      <mat-label>Nueva contraseña</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
      <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">
        La contraseña debe tener al menos 6 caracteres
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="main-button" type="submit">
      Restablecer
    </button>
  </form>

  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
</div>
