<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="arrow back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Mis publicaciones</span>
</mat-toolbar>
<mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange()">
  <mat-tab label="Nueva">
    <app-post [shouldResetForm]="shouldResetForm"></app-post>
  </mat-tab>
  <mat-tab label="Publicadas">
    <app-posts-list use="active-post"></app-posts-list>
  </mat-tab>
  <mat-tab label="Inactivas">
    <app-posts-list use="inactive-post"></app-posts-list>
  </mat-tab>
</mat-tab-group>
