<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="arrow back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Perfil</span>
</mat-toolbar>
<form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
      <mat-error *ngIf="profileForm.get('nombre')?.invalid">El nombre es obligatorio</mat-error>
    </mat-form-field>
  
    <div class="profile-image">
      <img [src]="user?.foto" alt="Foto de perfil">
    </div>
  
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion" required />
      <mat-error *ngIf="profileForm.get('direccion')?.invalid">La dirección es obligatoria</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="ciudad" required />
      <mat-error *ngIf="profileForm.get('ciudad')?.invalid">La ciudad es obligatoria</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Provincia</mat-label>
      <input matInput formControlName="provincia" required />
      <mat-error *ngIf="profileForm.get('provincia')?.invalid">La provincia es obligatoria</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="isLoading" type="submit">
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="24" color="accent"></mat-progress-spinner>
      <span *ngIf="!isLoading">Guardar</span>
    </button>
  </form>
  