<nav class="navigation-container">
  <div class="brand">
    <img class="brand-img" src="assets/images/logo.png" alt="Circular Logo" />
    <h1>Circular</h1>
  </div>

  <div class="menu-items">
    <a mat-button class="nav-item" routerLink="/home" routerLinkActive="active">
      <div class="content-wrapper">
        <mat-icon>home</mat-icon>
        <span class="label">Inicio</span>
      </div>
    </a>

    <a
      mat-button
      class="nav-item"
      routerLink="/posts"
      routerLinkActive="active"
    >
      <div class="content-wrapper">
        <mat-icon>description</mat-icon>
        <span class="label">Publicaciones</span>
      </div>
    </a>
    <a mat-button class="nav-item" routerLink="/chat" routerLinkActive="active">
      <div class="content-wrapper">
        <div class="icon-badge-container">
          <mat-icon>chat</mat-icon>

          <ng-container *ngIf="totalUnread$ | async as count">
            <span class="nav-badge" *ngIf="count > 0">
              {{ count > 9 ? "+9" : count }}
            </span>
          </ng-container>
        </div>

        <span class="label">Chat</span>
      </div>
    </a>

    <a
      mat-button
      class="nav-item"
      routerLink="/profile"
      routerLinkActive="active"
    >
      <div class="content-wrapper">
        <mat-icon>person</mat-icon>
        <span class="label">Perfil</span>
      </div>
    </a>
  </div>
</nav>
